<%= javascript_include_tag 'points' %>
<%= stylesheet_link_tag 'profile/points' %>

<div class="tab profile_tab" id="tab_reservations">

<form class="styled_form" id="program_info_container">
	<ul><li class="info">
		<% if @error -%>
			<p class="error_box"><%= @error %></p>
		<% end -%>
		<% if @notice -%>
			<p class="notice_box"><%= @notice %></p>
		<% end -%>
		<%= points_header %>
	</li></ul>
</form>

<div id="programs_container">
	<%= form_tag({}, :class => 'styled_form', :id => 'form_program') do %>
		<div>
			<ul class="form_fields">
				<li>
					<label class="description"><% program_label %></label>
					<div class="left">
						<select name="program" class="select" id="select_program">
							<%= options_from_collection_for_select(@profile.programs.sort {|a,b| a.name <=> b.name}, 'program_id', 'name', @current_program.program_id) %>

						</select>

					</div>
				</li>
			</ul>
		</div>
	<% end %>

	<fieldset id="program_details_container">
		<%= form_tag({}, :class => 'styled_form', :id => 'form_program_details', :onsubmit => "return validate();") do %>
			<input type="hidden" name="program" value="<%= @current_program.program_id %>">

			<ul>
				<li class="info">
					<p class="description"><%= translate_dynamic_tokens(@current_program.description) %></p>
				</li>
			</ul>

			<% @current_program.fields.each do |field| -%>
				<% field = field[1] if field.is_a?(Array) # Backwards compatibility for people with older sessions. Safe to remove after a while.-%>
				<ul class="form_fields"><li>
					<div class="full">
						<% if !field.textbox? -%>
							<label>
								<%= field.label %>
								<% if field.required? -%>
									<span class="label_required">(required)</span>
								<% end -%>
							</label>
							<input id="<%= field.name %>" type="text" class="text <%= 'required' if field.required? %> <%= 'validation' if field.validation_required? %>" name="<%= field.name %>"
								   value="<%= @current_program.send(field.name) %>"
									 <% if !field.validation_type.blank? -%>validation="<%= field.validation_type %>"<% end -%>
							/>

						<% elsif !field.checkbox? -%>
							<label>
								<input type="checkbox" class="<%= 'required' if field.required? %>" name="<%= field.name %>"
											 value="1" <%= "checked" unless @current_program.send(field.name).blank? %>/>
								<%= field.label %>
								<% if field.required? -%>
									<span class="label_required">(required)</span>
								<% end -%>
							</label>

						<% end -%>
					</div>
				</li></ul>
			<% end %>

			<ul id="button_row">
				<li>
					<% if @current_program.member? && !@current_program.fields.empty? -%>
						<input type="hidden" name="update" value="1">
						<button type="submit" id="button_update" name="update" value="1">Save Changes</button>

					<% elsif @current_program.member? -%>

					<% else -%>
						<input type="hidden" name="update" value="1">
						<button type="submit" id="button_participate" name="update" value="1">Participate</button>
					<% end -%>
				</li>
			</ul>
		<% end -%>
	</fieldset>
</div>

	<% if @current_program.member? -%>
		<fieldset id="program_transactions_container" style="clear: both;">
			<table id="profile_reservations" style="width: 500px">
				<tr>
					<th>Date</th>
					<th>Transaction</th>
					<th>Comments</th>
					<th style="text-align: right;">Points</th>
				</tr>

				<% @transactions.each do |row| -%>
					<tr class="<%= cycle('', 'alternate') %>">
						<td>
							<% unless !row.TransTOD.is_a? Time -%>
								<%= (row.TransTOD.strftime('%a&nbsp;%b,&nbsp;%d,&nbsp;%Y ') << row.TransTOD.strftime('%I:%M&nbsp;%p')).try(:html_safe) %>
							<% end -%>
						</td>
						<td><%= row.TransName %></td>
						<td><%= row.Comments %></td>
						<td style="text-align: right;">
							<%= '-' if row.DebitCredit == :subtract %><%= row.Points %>
						</td>
					</tr>
				<% end -%>

				<tr>
					<td colspan="3" style="text-align: right; font-weight: bold;">Current Total:</td>
					<td style="text-align: right;"><%= @current_program.points %></td>
				</tr>
			</table>
		</fieldset>
	<% end -%>
</div>