/*
*= require dataTables/jquery.dataTables
*/
.edit-contact-container{
    padding: 15px;
}

label {
    font-size: 75% !important;
    color: #444444;
    font-weight: bold;
    line-height: 14px !important;
    padding-top: 0 !important;

}

.td_center{
  text-align: center;
}

.contact_form{
    margin-bottom: 5px;
}

.left_block, .right_block{
    display: inline-block;
}

#left_block_phone{
margin-right: 10px;
}

#left_block_city {
    margin-right: 50px;
}

#left_block_auth {
    margin-right: 50px;
}


.contact_content {
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    background: url(image_path('drop-shadow.png')) top left repeat-x;
    background-color: #EBEBEB;
    width: 330px;
    float: left;
    clear: left;

    -moz-border-radius-bottomleft: 1ex;
    -webkit-border-bottom-left-radius: 1ex;
    -moz-border-radius-bottomright: 1ex;
    -webkit-border-bottom-right-radius: 1ex;
}

.button_block{
  display: inline-block;
}

 #link_only{
   display: inline;
 }

.button_container {
  padding-top: 17px !important;

}

input{
  font-size: 11px;
}
#profiles_tab_body{
  background-color: white;
}

#contacts_filter, #contacts_info{
  margin: 0px 10px 10px 10px;
}

#header_container{
   margin: 15px 15px 0px 15px;

  }

#contacts_button_container{
  margin: 10px;
}

#no_contacts_msg {
  margin: 15px;
}








