.button_container {
	width: auto !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	padding-top: 0px !important;
	padding-right: 15px;
}

#hudson-reservation-detail #save_button_container {
  width: 200px !important;
}
#hudson-reservation-detail #cancel_res_button_container {
  width: 135px !important;
  padding: 10px !important;
}
#hudson-reservation-detail #submit_button_container {
  width: 135px !important;
  padding: 10px !important;
}
#hudson-reservation-detail .button_container {
  width: 125px !important;
}

 #hudson-reservation-detail div#view_button_container {
  width: 75px !important;
  padding: 0 !important;
}

#hudson-reservation-detail #view_button_container #button_link {
  position: relative;
  left: 25px;
  top: 15px;
}
