#tab_locations form {
  margin-top: 15px;
}

#tab_locations label {
  font-size: 85%;
  display: block;
  font-weight: bold;
  position: relative;
  left: 3px;
}

#tab_locations select, #tab_locations input, #tab_locations textarea {
  padding: 3px;
}

#tab_locations #add_pud {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
}

#tab_locations #add_pud:hover {
  color: black;
}

#pud_internal_container {
  border-top: 1px solid gray;
  margin-top: 8px;
  padding-top: 8px;
}

#tab_locations div.left {
  width: auto;
  padding-right: 15px;
  display: inline;
  float: left;
}

#tab_locations div.full {
	width: 100%;
	float: left;
}

#tab_locations div#pud_locations_container div.pud_locs_tab_container {
  width: 275px;
}

#tab_locations div.fields_container {
  width: 325px;
  margin-top: 30px;
}

.address_results_list, .location_list {
    width: 222px;
}

#tab_locations #pud_container #location_search_tabs div.location_lookup {
    padding: 10px 25px 10px 25px !important;
    min-height: 165px !important;
}

#tab_locations .location_list_container, #tab_locations .field_container {
  padding: 0 0 8px;
}

div span.address_error, .error {
    color:red;
}

#tab_locations li .location_lookup div.full .text {
    width: 100%;
}

.search_button_container {
    clear: both;
    text-align: right;
}

.location_lookup div {
    position: relative;
}

.address_loading {
    position: absolute;
    top:45px;
    text-align: center;
}

.address_results_list, .location_list {
    width: 222px;
}

span.try_again_link {
    color: blue !important;
    text-decoration: underline;
    cursor: pointer;
    float: right;
    padding-top: 2px;
}

.try_again_button_container {
    text-align: right;
}

.address_search_button_container {
    position:relative;
    top:12px;
}

.button_container {
	clear: left;
	float: left;
	width: 100%;
	background: transparent url(image_path('bg_texture.png')) top left repeat-x;
}

#save {
	margin-top: 15px;
}

.button_container {
/*	border: 1px solid; */
	width: auto;
	clear: left;
	margin-top: 25px;
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 17px;
	font-weight: bold;
	-moz-border-radius-bottomleft: 2ex;
	-webkit-border-bottom-left-radius: 2ex;
	-moz-border-radius-topleft: 1ex;
	-moz-border-radius-topright: 1ex;
	-webkit-border-top-right-radius: 1ex;
	-moz-border-radius-bottomright: 1ex;
}

.fields_container {
  padding: 15px;
  -moz-border-radius-topright: 3ex;
  -webkit-border-top-right-radius: 3ex;
}

input.disabled {
  color: #333;
}

#loading_indicator {
  text-align: center;
  font-weight: bold;
  font-size:110%;
  position: absolute;
  left: 355px;
  top: 200px;
}

#airport {
  margin-bottom:25px;
}

#pud_directions {
	width: 100%;
}