table#profile_reservations th {
  background-color: black;
  color: white;
}

tr.alternate {
  background-color: #F0F0F0;
}

table#profile_reservations {
  margin-top: 8px;
  margin-bottom: 25px;
  width: 100%;
}
table#profile_reservations th, table#profile_reservations td {
  padding: 3px 7px;
  vertical-align: middle;
}
table#profile_reservations th {
  font-size: 93%;
}
table#profile_reservations td {
  font-size: 85%;
}
table#profile_reservations td.integer, table#profile_reservations td.decimal  {
  text-align: right;
}

th, td {
  border: 0;
}

#hudson-reservation-detail p.error_box {
  border-left: 3px solid red;
  border-bottom: 3px solid red;
    clear: both
}
#hudson-reservation-detail p.notice_box {
  border-left: 3px solid green;
  border-bottom: 3px solid green;
    clear: both;
}
#hudson-reservation-detail p.error_box, #hudson-reservation-detail p.notice_box {
  padding: 5px;
  width: 350px;
  padding-right: 25px;
}

#hudson-reservation-detail #reservation_container, #hudson-reservation-detail #tab_reservations {
  text-align: left;
}

/* Reservation page overrides */
#hudson-reservation-detail #tab_reservations {
  font-size: 93% !important;
}

#hudson-reservation-detail #tab_reservations ul li {
  list-style-type: none !important;
}

#hudson-reservation-detail .form_fields div.right {
  margin-left: 0 !important;
}

iframe {
  -ms-zoom: 0.92; -moz-transform: scale(0.92); -moz-transform-origin: 0 0; -o-transform: scale(0.92); -o-transform-origin: 0 0; -webkit-transform: scale(0.92); -webkit-transform-origin: 0 0;
}
