<div class="yui-g" id="profile_form">
  <div class="yui-u first">
    <% if display_personal_section? %>
        <div class="content_box" id="personal_container">
          <h1 class="boxed"><%= contact_personal_header %></h1>

          <div class="contact_content">
            <ul class="form_fields">
              <% if display_name? %>
                  <li>
                    <div class="full">
                      <label><%= name_label %></label>
                    </div>
                  </li>
                  <li>
                    <div class="full contact_form">
                      <%= f.text_field :name, :class => "text #{ contact_error(@contacts, 'Name')}", :size => 35 %>
                    </div>
                  </li>
              <% end %>
              <% if display_title? %>
                  <li>
                    <div class="full">
                      <label><%= title_label %></label>
                    </div>
                  </li>

                  <li>
                    <div class="full contact_form">
                      <%= f.text_field :title, :class => "text #{ contact_error(@contacts, 'Title')}", :size => 35 %>
                    </div>
                  </li>
              <% end %>
              <% if display_email? %>
                  <li>
                    <div class="full">
                      <label><%= email_label %></label>
                    </div>
                  </li>
                  <li>
                  <li>
                    <div class="full contact_form">
                      <%= f.text_field :email_address,
                                       class:    "text #{ contact_error(@contacts, 'EmailAddress')}",
                                       size:     35,
                                       disabled: contact_email_locked? %>
                    </div>
                  </li>
              <% end %>

              <li>
                <div class="inline_block">
                  <% if display_telephone? %>
                      <div class="left_block" id="left_block_phone">
                        <div class="left">
                          <label><%= telephone_label %></label>
                        </div>

                        <div class="left contact_form">
                          <%= f.text_field :telephone, :class => "text #{ contact_error(@contacts, 'Telephone')}", :size => 25, :maxlength => 20, :value => formatted_phone(@contacts.telephone) %>
                        </div>
                      </div>
                  <% end %>
                  <div class="right_block">
                    <% if display_alt_telephone? %>
                        <div class="right">
                          <label><%= alt_telephone_label %></label>
                        </div>
                        <div class="right contact_form">
                          <%= f.text_field :telephone2, :class => "text #{ contact_error(@contacts, 'Telephone2')}", :size => 25, :maxlength => 20, :value => formatted_phone(@contacts.telephone2) %>
                        </div>
                    <% end %>
                  </div>
                  <% if display_contact_fax? %>
                      <div class="left_block" id="left_block_phone">
                        <div class="left">
                          <label><%= contact_fax_label %></label>
                        </div>

                        <div class="left contact_form">
                          <%= f.text_field :fax_number, :class => "text #{ contact_error(@contacts, 'FaxNumber')}", :size => 25, :maxlength => 20, :value => formatted_phone(@contacts.fax_number) %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>
    <% end %>


    <% if display_comment_section? %>
        <div class="content_box" id="comments_container">
          <h1 class="boxed"><%= contact_comments_header %></h1>

          <div class="contact_content">
            <ul class="form_fields">
              <% if display_comment? %>
                  <li>
                    <div class="full">
                      <label><%= comment_label %></label>
                      <%= f.text_area :comments, :size => "30x30" %>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
  </div>


  <div class="yui-u">
    <% if display_address_section? %>
        <div class="content_box" id="address_container">
          <h1 class="boxed"><%= contact_address_header %></h1>

          <div class="contact_content">
            <ul class="form_fields">
              <% if display_address? %>
                  <li>
                    <div class="full">
                      <label><%= address_label %></label>
                    </div>
                  </li>
                  <li>
                    <div class="full contact_form">
                      <%= f.text_field :address, :size => 35 %>
                    </div>
                  </li>
              <% end %>
              <li>
                <div class="inline_block">
                  <% if display_city? %>
                      <div class="left_block" id="left_block_city">
                        <div class="left">
                          <label><%= city_label %></label>
                        </div>

                        <div class="left contact_form">
                          <%= f.text_field :city, :size => 15 %>
                        </div>
                      </div>
                  <% end %>
                  <% if display_state? %>
                      <div class="right_block">
                        <div class="right">
                          <label><%= state_label %></label>
                        </div>
                        <div class="right contact_form">
                          <%= f.text_field :state, :size => 5 %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </li>
              <% if display_zip_code? %>
                  <li>
                    <div class="full">
                      <label><%= zip_code_label %></label>
                    </div>
                  </li>

                  <li>
                    <div class="full contact_form">
                      <%= f.text_field :zip_code, :class => "text", :size => 20 %>
                    </div>
                  </li>
              <% end %>
              <% if display_contact_country? %>
                  <li>
                    <div class="full">
                      <label><%= contact_country_label %></label>
                    </div>
                  </li>
                  <li>
                    <div class="full contact_form">
                      <%= f.country_select(:country, :include_blank => 'Please choose...',
                                           :priority_countries      => ['US', 'CA', 'MX', 'GB', 'FR'],
                                           :selected                => @contacts.country) %>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <!--This section is currently hidden-->
    <% if display_details_section? %>
        <div class="content_box" id="details_container">
          <h1 class="boxed"><%= contact_detail_header %></h1>

          <div class="contact_content">
            <ul class="form_fields">
              <li>
                <div class="inline_block">
                  <% if display_authorized? %>
                      <div class="left_block" id="left_block_auth">
                        <div class="left">
                          <label><%= authorized_label %></label>
                        </div>
                        <div class="left contact_form">
                          <%= f.check_box :authorized, {}, "1", "0" %>
                          <%#= f.check_box :authorized, {}, "true", "false" %>
                          <%#= f.check_box(:authorized, options = {}, checked_value = "1", unchecked_value = "0") %>

                        </div>
                      </div>
                  <% end %>
                  <% if display_contact_type? %>
                      <div class="right_block">
                        <div class="right">
                          <% if contact_type_select? %>
                              <label><%= contact_type_label %></label>
                          <% end %>
                        </div>
                        <div class="right contact_form">
                          <% if contact_type_select? %>
                              <%= f.select :contact_type, @contacts.contact_types%>
                          <% end %>
                          <% unless contact_type_select? %>
                              <%= f.hidden_field :contact_type, :value => @contacts.contact_type %>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
