<% content_for(:head) do -%>
    <%= javascript_include_tag 'contacts' %>
    <%= javascript_include_tag 'form_changed' %>
    <%= stylesheet_link_tag 'profile/contacts' %>
    <%= stylesheet_link_tag 'profile/profile' %>
    <style>
        div.button_container, div.button_container a {
            background-color: <%= profile_primary_background_color %>;
            color: <%= profile_primary_text_color %>;
        }

        .button_container {
            border-color: <%= profile_primary_background_color %>;
        }

        .content_box h1.boxed {
            color: <%= profile_primary_text_color %>;
            background-color: <%= profile_primary_background_color %>;
        }

        .content_box h2 {
            background-color: <%= profile_secondary_background_color %> !important;
            color: <%= profile_secondary_text_color %> !important;
        }

         p.error_box{
             font-size: 80%;
             line-height: 130%;
         }

    </style>
<% end %>
<div class="edit-contact-container">
  <% if flash[:error] -%>
      <p class="error_box" style="margin-bottom: 8px;">
        <% flash[:error].each do |msg| %>
            <%= msg %>
            <br/>
        <% end %>
      </p>
  <% end %>
  <%= form_for(@contacts, url: update_contact_path) do |f| %>

      <%= render :partial => 'contacts', :object => @contacts, :locals => {:f => f} %>

      <div class="button_container" id="contacts_button_container">
        <%= submit_tag(update_button_label, :id => 'contact_yui_button') %>
        <%= link_to "Back", contacts_url %>
      </div>

  <% end %>
</div>





