<% content_for(:head) do -%>
    <%= javascript_include_tag 'profile' %>
    <%= javascript_include_tag 'contacts' %>
    <%= stylesheet_link_tag 'profile/contacts' %>
    <%= stylesheet_link_tag 'profile/profile' %>
    <style>
        div.button_container, div.button_container a {
            background-color: <%= profile_primary_background_color %>;
            color: <%= profile_primary_text_color %>;
        }

        .button_container {
            margin: 10px;
            float: right;
            border-color: <%= profile_primary_background_color %>;
        }

        .content_box h1.boxed {
            color: <%= profile_primary_text_color %>;
            background-color: <%= profile_primary_background_color %>;
        }

        .content_box h2 {
            background-color: <%= profile_secondary_background_color %> !important;
            color: <%= profile_secondary_text_color %> !important;
        }

        .title-row {
            color: <%= profile_primary_text_color %>;
            background-color: <%= profile_primary_background_color %>;
        }

        p.notice_box {
            font-size: 80%;
            line-height: 130%;
        }

    </style>
<% end %>

<div id="header_container">
  <h1><%= contact_index_header %></h1>
</div>

<% if flash[:save_message] -%>
    <p class="notice_box" style="margin-left: 15px;">
      <%= flash[:save_message] %>
    </p>
<% end %>

    <table class="display" id="contacts">
      <thead>
      <tr class="title-row">
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email_address %></td>
            <td><%= formatted_phone(contact.telephone) %></td>
            <td class ="td_center"><%= link_to "View", contact_path(contact.id) %></td>
            <td class ="td_center">
              <%= link_to "Delete",
                      delete_contact_path(contact.id),
                      data: {
                        confirm: "Are you sure you want to delete this contact?"
                      },
                      method: 'post' %></td>
          </tr>
      <% end %>
      </tbody>

    </table>

<% if display_add_contact_button?%>
    <div class="button_container" id="add_button_container">
      <%#= button_tag("Add New Contact", :url => contacts_new_url, :id => 'link_button') %>
      <%= button_to "Add New Contact", contacts_new_url, :id => "add_contact_yui_button",
                    :method => :get %>
    </div>
<% end %>







