<div class="w3-col m12 w3-container">
  <div class="tab profile_tab" id="tab_new_profile">
    <div id="hudson-reservation-detail">
      <div class="tab profile_tab" id="tab_reservations" class="yui-skin-sam">

        <% if !@reservations -%>
          <p>Coming soon.</p>

        <% else -%>
          <div id="reservations_content">
            <% if @reservations_error -%>
              <p class="error_box" style="margin-bottom: 8px;">
                <%= @reservations_error %>
              </p>
            <% end -%>
            <% if flash[:notice] -%>
              <p class="notice_box" style="margin-bottom: 8px">
                <%= flash[:notice] %>
              </p>
            <% end -%>

            <%= form_tag do %>
              <p style="font-size: 90%; clear: both;">
                Showing
                <select name="date_range" onchange="YAHOO.hudson.profiles.loadingContainer.show();this.form.submit()" style="font-size: 90%">
                  <%= options_for_select(
                    [['Select a time range', nil],
                     ['future pickups', 'future'],
                     ['pickups made in the last 30 days', 'last_30_days'],
                     ['pickups made in the last 30 to 90 days', 'last_30_to_90_days']],
                    @date_range.to_s)
                  %>
                </select>
              </p>
            <% end -%>
            <p>
             <%#= @my_gdf_file.as_json %>
             <%= configured_desktop %>
            </p>
            <% if @reservations.empty? -%>
              <div id="reservations_table" style="margin-top: 8px">
                <% if @date_range.nil? -%>
                  Select a time range to view your reservations.
                <% else -%>
                  No pickups made for this time period.
                <% end -%>
              </div>

            <% else -%>
              <div id="reservations_table">
                <%= render :partial => 'reservations', :object => @reservations, :locals => {:date_range => @date_range} %>
              </div>
            <% end -%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>