<div class="info-box-container" id="login-info-box">
  <% if @notice.present? || @error.present? %>
  <% if @error.present? %>
  <p class="error_box" id="login_error"><%= @error %></p>
  <% end %>
  <% if @notice.present? %>
  <p id="login_notice" class="notice_box"><%= @notice %></p>
  <% end %>
  <% end %>
</div>