<%= render :partial => 'error_box'%>
<%= form_tag({}, :id => 'login_form', :class => 'styled_form') do %>
  <div class="w3-row" id='login-section'>
    <div class="description-and-input-block">
      <div class="w3-col m12 l6 w3-container">
        <div class="description-block">
          <div class="description-container">
            <h2 class="w3-text-theme-primary"><%= forgot_pw_section_header %></h2>
            <p class="description-text w3-text-theme"><%= fgt_pw_description_text %></p>
          </div>
        </div>
      </div>
      <div class="w3-col m12 l6 w3-container">
        <div class="input-block">
          <div class="input-group-container">
            <label><%= login_username_label %></label>
            <%= text_field_tag('username', @username, :class => 'input-group-input w3-text-theme-border') %>
            <%= link_to(login_link_text, {:action => 'login'}, :id => 'link_forgot_password') %>
            <div class="button_container"id="login_button_container">
              <%= submit_tag(fgt_pw_button_text, :id => 'forgot_pw_button') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>