// If we are part of a modal window, let the parent know we logged in,
// otherwise redirect to the main profile page.
if (window.parent && window.parent.profile_login_succeeded) {
  window.parent.profile_login_succeeded('<%= @profile_id %>', '<%= @profile_pw %>');
} else {
  window.location = '<%= reservations_enabled? ? reservations_url : profile_url %>';
}