<%= render :partial => 'error_box'%>
<%= form_tag({action: 'login_user'}, id: 'login_form', class: 'styled_form') do %>
  <div class="w3-row" id='login-section'>
    <div class="description-and-input-block">
      <div class="w3-col m12 l6 w3-container">
        <div class="description-block">
          <div class="description-container">
            <h2 class="w3-text-theme-primary"><%= login_section_header %></h2>
            <p class="description-text w3-text-theme"><%= login_section_description %></p>
          </div>
        </div>
      </div>
      <div class="w3-col m12 l6 w3-container">
        <div class="input-block">
          <div class="input-group-container">
            <label><%= login_username_label %></label>
            <%= text_field_tag('username', @username, :class => 'input-group-input w3-text-theme-border') %>
          </div>
          <div class="input-group-container">
            <label><%= login_password_label %></label>
            <%= password_field_tag('password', nil, :class => 'input-group-input w3-text-theme-border') %>
            <div class="login-link-container">
              <%= link_to(signup_link_text, new_url, {:id => 'link_sign_up'}) %> |
              <%= link_to(forgot_pw_link_text, {:action => 'forgot_my_password'}, :id => 'link_forgot_password') %>
              <div class="button_container"id="login_button_container">
                <div id="please_wait_span" style="display: none;"><i class="fa fa-spinner fa-pulse fa-3x" id='login-spinner'></i><span id="logging-in-text"><%= logging_in_text %></span></div>
                <%= submit_tag(login_button_text, :id => 'login_button',
                :onclick => "$('login_button').hide();
                $('please_wait_span').show();
                return true;") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>