@import "font-awesome-sprockets";
@import "font-awesome";
@import 'w3';
@import 'profile';
@import 'reservations';
@import 'points';
@import 'modal';

/*===========================================
=            Shared Styles       =
===========================================*/

#login_button,
#new-profile-submit-button,
#please_wait_span,
#forgot_pw_button
{
  display: block;

  width: 80%;
  height: 40px;
  margin: 50px auto;

  border: solid 1px;
}

.submit-button
{
  display: block;
  margin: 50px auto;
  height: 40px;
  width: 80%;
  border: solid 1px;
}

#new-profile-header,
#nav-container
{
  display: table;

  width: 100%;
  height: 80px;

  text-align: left;
}

.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


/*===========================================
=            Login Related Style            =
===========================================*/

#login-section
{
  margin-top: 50px;
}

#please_wait_span
{
  font-weight: bolder;

  display: table;

  width: 200px;

  text-align: center;

  border: none;
}

#logging-in-text,
#login-spinner
{
  display: table-cell;

  vertical-align: middle;
}

p#login_notice,
p#login_error
{
  padding: 35px;
}

/*===========================================
=            New Profile Related Style       =
===========================================*/

#new-profile-header-text
{
  display: table-cell;

  margin-bottom: 30px;

  vertical-align: middle;
}

#login_button
{
  width: 100%;
}

.sub-checkbox
{
  padding: 15px;
  padding-left: 0;

  list-style: none;

  text-align: center;
}

.w3-checkmark:before
{
  position: absolute;
  left: 0;

  width: 24px;
  height: 24px;

  content: '';

  border: 2px solid #009688;
}

// Css overrides for this class.
.w3-checkmark:after
{
  font-family: FontAwesome;
  font-size: 20px;

  top: 0;
  left: 2px;

  width: 14px;
  height: 8px;

  content: '\f00c';
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
       -o-transform: rotate(0);
          transform: rotate(0);

  color: white;
  border: none;
}

/*===========================================
=         Forgot My PW Related Style       =
===========================================*/
#forgot_pw_button
{
  width: 100%;
}

@media (max-width:500px)
{
  #new-profile-header
  {
    text-align: center;
  }

  // It still looks fine for browsers that don't support vw, but it looks
  // even better for those that do :)
  #new-profile-header-text
  {
    font-size: 6.9vw;
  }
}
