body {
	background-color: #ffffff;
}
a {
	color: black;
}

.profile_tab {
	background-color: white;
}

p.error_box {
	border-left: 3px solid red; 
	border-bottom: 3px solid red; 
}
p.notice_box {
	border-left: 3px solid green; 	
	border-bottom: 3px solid green; 
}

table#profile_reservations th {
	background-color: black;
	color: white;
}

tr.alternate {
	background-color: #F0F0F0;
}

#puds_container {
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
}

.field_error {
	background-color: #F2BFBF;
}


/* --- Forms --- */
.styled_form p {
	color: #222222;
}
.styled_form li div label, .styled_form li span label {
	color: #444444;
}
.styled_form .error {
	color: red;
}