html {
	text-align: center;
}

#hudson-reservation-detail {
  width: 100% !important;
}

#content {
	position: relative;
	margin: 0 auto;
	text-align: left;
	padding-top: 5px;
}
#content_profile {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
#tab_reservations {
	overflow: auto;
}
#content_login {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

#content_login ul {
  margin-left: 0;
}

p.error_box, p.notice_box {
	padding: 5px;
	width: auto;
	float: left;
	padding-right: 25px;
}
#login_form {
	border: 1px solid #CCCCCC;
	min-width: 200px;
	padding: 15px;
}
.box {
	border: 1px solid #CCCCCC;
	padding: 15px;
}
table#profile_reservations {
	margin-top: 8px;
	margin-bottom: 25px;
	width: 100%;
}
table#profile_reservations th, table#profile_reservations td {
	padding: 3px 7px;
	vertical-align: middle;
}

/* --- Tabs --- */
.profile_tab {
	padding: 15px;
	padding-right: 25px;
	min-height: 420px;
	height: auto;
	overflow: auto;
	position: relative;
	background-position: 0 0;
}
.profile_field_tab {
	padding: 15px;
	padding-right: 25px;
	min-height: 225px;
}
#tabs_profile_fields .yui-nav .selected a {
	background-color: #F8F8F8;
}
#tabs_profile_fields .yui-content {
	background-color: #F8F8F8;
}
#tabs_profile_fields a em {
	font-size: 85%;
}
#tabs_profile_fields {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: left;
}
div#tabs_profile_fields div.yui-content {
	width: 450px;
}

/*
#tab_profile form, #tab_locations form {
	width: 80%;
}
*/

/* --- PUDs --- */
#puds_container {
	padding: 0px 25px 0px 15px;
	width: 450px;
}
#pud_locations_container {
	padding: 0;
}


/* --- "My Profile" tab --- */
#left_profile_column {
	clear: both;
	float: left;
	width: 310px;
	padding-right: 50px;
}

#right_profile_column {
	float: left;
	width: 355px;
}

#left_profile_column .description, #right_profile_column .description {
	margin-top: 15px;
	border-bottom: 1px solid #212F2F;
	background-color: #E0E0E0;
	padding-left: 5px;
}

#left_profile_column .form_fields div, #right_profile_column .form_fields div {
	margin-left: 10px;
}

label.required {
	font-weight: bold;
	color: black !important;
	font-style: italic;
}

/* --- Forms --- */
.styled_form h2 {
	display: block;
	clear: left;
	margin: 0pt 0pt 3px;
}
.styled_form  .form_fields > li {
	display: block;
	width: 100%;
	margin: 0pt 0pt 4px;
	padding: 1px 5px 1px 9px;
/*	position: relative; */
	clear: left;
}
.styled_form li.info {
	padding: 0pt;
	width: 100%;
	clear: both;
}
.styled_form p {
	margin: 0pt 0pt 12px;
}
.styled_form label.description {
	overflow: hidden;
	width: 100%;
	border: medium none;
	display: block;
	padding: 0pt 0pt 1px;
}
.styled_form .full {
	width: 100%;
}

.styled_form li {
	clear: both;
}
.styled_form li div.left {
	display: inline;
	float: left;
	width: 45%;
}
.styled_form li div.right {
	display: inline;
	float: right;
	width: 45%;
}
.styled_form li div, .styled_form li span {
	color: #444444;
	margin: 0pt 4px 0pt 0pt;
	padding: 0pt 0pt 8px;
}
.styled_form li span {
	float: left;
}
.styled_form input.text, input.file {
	padding: 2px 0pt;
}
.styled_form input.text, .styled_form textarea.textarea {
	border-color: black rgb(195, 195, 195) rgb(221, 221, 221);
	border-style: solid;
	border-width: 1px;
}
.styled_form input.text, .styled_form input.file, .styled_form textarea.textarea,
.styled_form select.select, .styled_form #date_month, .styled_form #date_year {
	margin: 0pt;
}
.styled_form li div label, .styled_form li span label {
	clear: both;
	display: block;
	margin: 0pt;
	padding-top: 3px;
}
.styled_form input.large, .styled_form select.large, .styled_form textarea.textarea {
	width: 100%;
}
.styled_form li div.left .medium, .styled_form li div.right .medium {
	width: 90%;
}
.styled_form li div.left .medium, .styled_form li div.right .medium {
	width: 90%;
}
.styled_form input.small, .styled_form select.small {
	width: 25%;
}

#pickup_time_loading {
	text-align: center;
}
#pickup_time_content table {
	width: 100%;
}
#pickup_time_content table td {
	vertical-align: top;
	padding: 8px 3px 5px 3px;
}
#pickup_time_content table th {
	vertical-align: top;
	padding: 0px 3px;
}
#pickup_time_content td input[type="radio"] {
	position: relative;
	top: 0px;
	margin-top: 0px;
}
#pickup_time_content table tr.adtl_charge td {
	padding-bottom: 0;
}
#pickup_time_content table tr.additional_charge_row td {
	text-align: right;
	padding-top: 0;
	padding-bottom: 3px;
}
.pickup_time_header {
	text-align: left;
	border-bottom: 1px solid black;
	font-weight: bold;
}
.dropoff_time_header {
	text-align: left;
	border-bottom: 1px solid black;
	font-weight: bold;
}
#panel_pickup_time .ft, #panel_flight_time .ft {
	text-align: right;
}
#pickup_time, #fare, #flight_time {
	padding: 0;
}
#loading_overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	color: black;
	background-color: white;
	opacity: .45;
	filter: alpha(opacity = 50);
	z-index: 10;
}

#loading_content {
	z-index: 15;
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 160px 250px  ;
	opacity: 1;
	text-align: center;
	font-weight: bold;
	background-color: white;
	color: black;
	width: 200px;
	padding: 25px;
	border: 4px solid black;
}

#reservation_container {
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 15px;
	padding-bottom: 25px;
	height: auto !important;
	font-size: 85%;
}

#profiles_tab_body {
  padding: 0 !important;
}

#content ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

#content ul li {
  list-style: none;
}

fieldset {
  border: 0;
  padding: 0;
}

table td {
  border: 0;
}
