.confirm-btn {
    margin-bottom: 20px;
    width: 100px;
}

#message-icon {
  padding-right: 5px;
}

#close-btn-icon {
    margin-top: -30px;
    margin-right: -35px;
}

#modal-content {
    width: 600px;
}

.modal-message {
  margin: 40px 0px;
  font-size: 15px;
}

#cancel-modal {
    display: block !important;
}

.modal-anim-enter {
opacity: 0.01;
}

.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
  transition: opacity 150ms linear;
}

.modal-anim-leave {
 opacity: 1;
}

.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.01;
  transition: opacity 150ms linear;
}

@media only screen and (max-width:760px), (min-device-width:768px) and (max-device-width:1024px) {
  #cancel-modal{
    padding-top: 5% !important;
  }
}
