#points-content-window {
  margin-top: 50px;
}
.profile-header-container {
  float: left;
}
.points-description-text {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: #666;
  margin-top: 35px;
}
#faq-link, #program-input-label {
  font-weight: bold;
}
.input-error-message {
  display: none;
}
.input-error {
  .input-error-message {
    color: red !important;
  }
  .input-group-label {
    color: red !important;
  }
  .input-group-input {
    background-color: pink !important;
  }
}
#program-selector {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}
#program-submit {
  display: inline;
  width: 100%;
  margin-top: 0px;
}

/*----------  transaction table css  ----------*/
.transaction-table {
table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.trans-Comments {
  text-align: center;
}
#current-total, #total-points, .trans-Points {
  text-align: right;
  }
}


@media only screen and (max-width:760px), (min-device-width:768px) and (max-device-width:1024px) {

 .transaction-table {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr, #current-total {
    display: none;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {

    /* Behave  like a "row" */
    border: none;
    border-bottom: none;
    position: relative;
    padding-left: 50%;
  }
  td:before {

    /* Now like a table header */
    position: absolute;    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Date";
  }
  td:nth-of-type(2):before {
    content: "Transaction";
  }
  td:nth-of-type(3):before {
    content: "Comments";
  }
  td:nth-of-type(4):before {
    content: "Points";
  }
  tr:last-child td:before {
    content: "Current Total:";
  }
  #total-points, .trans-Comments, .trans-Points {
    text-align: left;
    }
  }
}