p.error_box {
  color: red;
  background-color: pink;
}
p.notice_box {
  color: green;
  background-color: #dff0d8;
}
p.notice_box:before {
  font-family: FontAwesome;
  padding-right: 10px;
  content: '\f058';
}
p.error_box, p.notice_box {
  width: auto;
  margin-top: -15px;
  padding: 20px;
  margin-bottom: 8px
}
.info-box-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#profile_submit {
  width: 100%;
  margin-top: 15px;
}
.field_error {
  border-color: red !important;
  background-color: pink;
}
label.error {
  color: red !important;
}
label.error:before, p.error_box:before {
  font-family: FontAwesome;
  padding-right: 10px;
  content: '\f071';
}

/*=======================================
=            New Profile Css            =
=======================================*/

/* Custom Css */
.nav-group {
  display: inline-block;
}
.nav-group-icon {
  font-size: 25px;
  text-align: center;
}
.nav-group-link {
  text-align: center;
}
#profile-nav {
  display: table-cell;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
}
.nav-item {
  // font-weight: bold;
  display: inline;
  margin-right: 30px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item:first-child {
  margin-left: 15px;
}
.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  padding-bottom: 5px;
  border-bottom: solid 1px;
}
.nav-link.selected {
  padding-bottom: 5px;
  border-bottom: solid 2px;
}
.description-and-input-block {
  width: 80%;
  margin: auto;
}
.input-group-label {
  display: inline-block;
}
.input-group-input {
  line-height: 30px;
  min-height: 35px;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 10px;
  border: solid 1px red;
}
.input-group-select #exp-month, .input-group-select #exp-year {
  background: url(image_path('select.png')) no-repeat 90% 50%;
}
.input-group-select {
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  height: 36px;
  margin-bottom: 25px;
  border: solid 1px red;
  border-radius: 0;
  background: url(image_path('select.png')) no-repeat 97% 50%;
}
#exp-date-lable {
  display: block;
}
#exp-month {

  /*margin-right: 5%;*/
  float: left;
}
#exp-year {
  float: right;
}
.exp-date {
  display: inline-block;
  width: 45%;
}
#page-header {
  margin-left: 15px;
}
.input-group-select {
  background-color: white !important;
}
.input-group-select  select {
  width: 100%;
  padding: 7px 8px;
  border: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
.input-group-select  select:focus {
  outline: none;
}
.description-block {
  display: inline-block;
}
.description-container {
  float: right;
}
.description-text {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #666;
}
@media (max-width:768px) {
  .nav-group-icon {
    font-size: 30px;
  }
  .nav-group-text {
    font-size: 10px;
  }
  #nav-container {
    text-align: center;
  }
  .nav-item:first-child {
    margin-left: 0;
  }
  .nav-item {
    margin-right: 10%;
  }
}
@media only screen and (min-width:601px) {
  .description-block {
    padding-right: 40px;
  }
}
@media only screen and (max-width:601px) {
  .description-and-input-block {
    width: 100%;
  }
  .nav-item {
    margin-right: 5%;
  }
}
@media only screen and (max-width:401px) {
  .nav-item {
    margin-right: 3%;
  }
  #content-window {
    padding-right: 0;
    padding-left: 0;
  }
}

/*=====  End of New Profile Css  ======*/