
#updateing {
  display: table
}
#update-msg {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}
#grid-updater {
  display: table-cell;
  vertical-align: middle;
}
#grid-selector {
  width: 400px;
}

.grid-select-block {
  width: 400px;
}

.ReservationsTab {
  width: 90%;
  margin: auto;
}

#loader {
  width: 400px;
  text-align: center;
}


body .w3-col { float: none; }

.edit-frame-loader {
  position: absolute;
  left: 0;
  top: 78px;
  width: 100%;
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.12);
  font-size: 19px;

  div {
    position: relative;
    top: 75px;
  }
  i { margin-right: 5px; }
}

.reservations-grid {
  max-width: 1200px;
  /*----------  transaction table css  ----------*/
  table {
    width: 100%;
    border-collapse: collapse;
  }

  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }

  th {
    background: #333;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  td, th {
    padding: 8px 15px;
    border: 1px solid rgba(204, 204, 204, 0.25);
  }

  td {
    text-align: left;
    vertical-align: middle;
    cursor: pointer;

    &.edit-cell {
      text-align: center;
      width: 25px;

      span { display: none; }
    }
  }

  .record-data {
    text-align: left;
  }

  .no-record-data {
    text-align: center;
  }

  .column-name{
    display: none;
  }
}

@media only screen and (max-width:760px), (min-device-width:768px) and (max-device-width:1024px) {

  #loader {
    width: 100%;
    text-align: center;
  }

  #grid-selector {
    width: 100%;
  }

  .grid-select-block{
    width: 100%;
  }

  .cancel-button {
    padding-left: 6px !important;
  }

  .ReservationsTab {
  width: 100%;
  }

  .reservations-grid {
 /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  .no-record-data {
    text-align: left;
  }

  .column-name {
    width: 40%;
    display: inline-block;
    white-space: nowrap;
    font-weight: bolder;
   }

   .record-data-value {
      float: right;
      white-space: nowrap;
     }

  /* Hide table headers (but not display: none;, for accessibility) */
  .grid-table-header {
    display: none;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: none;
    position: relative;

    &.edit-cell {
      display: inline-block;
      cursor: pointer;
      width: auto;
      text-align: left;
      i { margin-right: 5px; }
      span { display: inline-block; }
    }
  }

  }
}
