/*
body {
	font: 80%/1.0 "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

input, select, textarea {
	font: 105%/1.0 "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
*/

em {
	font-weight: bold;
	font-style: italic;
}

#login_description {
	font-size: 130%;
}
#link_forgot_password, #link_sign_up {
	font-size: 90%;
}

/* --- Forms --- */
.styled_form h2 {
	font-size: 160%;
	font-weight: normal;
	
}
.styled_form p {
	font-size: 95%;
	line-height: 130%;
}
.styled_form label.description {
	font-size: 90%;
	font-weight: bold;
	line-height: 150%;
}

/*
.styled_form input.text, .styled_form input.file, .styled_form textarea.textarea,
.styled_form select.select, .styled_form #date_month, .styled_form #date_year {
	font-size: 80%;
}
*/

.styled_form li div label, .styled_form li span label {
	font-size: 10px;
	line-height: 9px;
}
table#profile_reservations th {
	font-size: 90%;
}
table#profile_reservations td {
	font-size: 85%;
	vertical-align: top;
}
table#profile_reservations td.integer, table#profile_reservations td.decimal  {
	text-align: right;
}