<% if display_personal_section? %>
  <div class="w3-row" id="first">
    <div class="description-and-input-block">

      <%= profile_section(personal_header, personal_section_description ) %>

      <div class="w3-col m12 l6 w3-container">

        <div class="input-block">
          <% if display_name? %>

          <%= profile_text_input(@profile, name_label, "Name") %>

          <% end %>
          <% if display_email? %>
         <%= profile_text_input(@profile, email_label, "EmailAddress") %>

          <% end %>
          <% if display_website? %>
            <%= profile_text_input(@profile, website_label, "WebSiteURL") %>

          <% end %>
          <% if display_phone? %>
            <%= profile_phone_input(@profile, phone_label, "Telephone") %>

          <% end %>
          <% if display_altphone? %>
            <%= profile_phone_input(@profile, altphone_label, "Telephone2") %>

          <% end %>
          <% if display_fax? %>
            <%= profile_phone_input(@profile, fax_label, "FaxNumber") %>

          <% end %>
          <% if display_comments? %>
            <%= profile_text_input(@profile, comments_label, "Comments") %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <% end %>
  <% if display_address_section? %>
  <div class="w3-row">
    <div class="description-and-input-block">
       <%= profile_section(address_header, address_section_description ) %>

      <div class="w3-col m12 l6 w3-container">
        <div class="input-block">
          <% if display_address? %>

            <%= profile_text_input(@profile, address_label, "Address") %>

          <% end %>
          <% if display_city? %>

            <%= profile_text_input(@profile, city_label, "City") %>

          <% end %>
          <% if display_state? %>

            <%= profile_text_input(@profile, state_label, "State") %>

          <% end %>
          <% if display_zip? %>

            <%= profile_text_input(@profile, zip_label, "ZipCode") %>

          <% end %>
          <% if display_country? -%>
          <div class="input-group-container">
            <%= profile_field_label(profile, :secondary, 'Country', country_label) %>
            <div class="input-group-select w3-text-theme-border">
              <div class="select-wrapper">
                <%= form.country_select("Country", :include_blank => 'Please choose...',
                :priority_countries => ['US', 'CA', 'MX', 'GB', 'FR'],
                :selected           => profile.Country) %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <% end %>
  <% if display_password_section? %>
  <div class="w3-row">
    <div class="description-and-input-block">

       <%= profile_section(password_header, password_section_description) %>

      <div class="w3-col m12 l6 w3-container">
        <div class="input-block">
          <% if display_password? -%>

            <%= profile_password_input(@profile, password_label, "WebPassword") %>

          <% end %>
          <% if display_password_confirmation? %>

            <%= profile_password_input(@profile, password_confirmation_label, "WebPasswordConfirm") %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <% end %>
  <% if display_cc_section? -%>
  <div class="w3-row">
    <div class="description-and-input-block">

       <%= profile_section(cc_header, cc_section_description) %>

      <div class="w3-col m12 l6 w3-container">
        <div class="input-block">
          <% if display_ccname? %>

            <%= profile_text_input(@profile, ccname_label, "CCDetails") %>

          <% end %>
          <% if display_ccnumber? %>

            <%= profile_masked_cc_input(@profile, ccnumber_label, "CCNumber") %>

          <% end %>
          <% if display_ccexp? %>
          <div class="input-group-container">
            <%= profile_field_label(profile, :secondary, 'CCExp', ccexp_label, "exp-date-lable") %>
            <div class="input-group-select w3-text-theme-border exp-date" id="exp-month">
              <div class="select-wrapper">
                <%= select_month(profile.CCExp,
                :add_month_numbers => true,
                :include_blank => true) %>
              </div>
            </div>
            <div class="input-group-select w3-text-theme-border exp-date" id="exp-year">
              <div class="select-wrapper">
                <%= select_year(profile.CCExp,
                :start_year => Time.now.year,
                :end_year => Time.now.year + 10,
                :include_blank => true) %>
              </div>
            </div>
          </div>
          <% end %>
          <% if display_cczip? -%>

            <%= profile_text_input(@profile, cczip_label, "CCZipCode") %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
<% end %>