<div class="w3-col m12 w3-container">
  <div class="tab profile_tab" id="tab_new_profile">
  	<% msg = Tokens.for(@site_id, 'PROFINFO2', :noreplace => 1).gsub(/%Prof_WebID%/, @profile.WebID) rescue ''-%>
  	<%= msg.blank? ? "Your profile has been created. Your username is #{@profile.WebID}." : msg.html_safe %>

  	<script>
      if (window.parent && window.parent.profileSetNewId) {
        window.parent.profileSetNewId('<%= @profile.WebID %>');
      }
      if (window.parent && window.parent.profileCreated) {
        	window.parent.profileCreated('<%= @profile.WebID %>', '<%= @profile.WebPassword %>');
      }
  	</script>
  </div>
</div>