<div class="w3-container w3-theme" id="new-profile-header">
  <h1 id="new-profile-header-text"><%= new_profile_header %></h1>
</div>
<%= render :partial => 'error_box', :object => @profile %>
<%= form_for :profile, :html => {:class => 'styled_form'} do |f| %>
<input type="hidden" name="site_id" value="<%= @site_id %>"/>
<%= render :partial => 'profile', :object => @profile, :locals => {:form => f} %>
<% unless @email_subs.nil? %>
  <ul class="sub-checkbox" id="button_row">
    <% @email_subs.each do |sub| %>
      <li>
        <label class="w3-checkbox">
          <input type="checkbox" name="mailing_list[<%= sub.Key %>]" value="1"
          <%= "checked" if sub.Default.to_i == 1 %>>
          <div class="w3-checkmark"></div> <%= sub.Label %>
        </label>
      </li>
    <% end %>
  </ul>
<% end %>
<div style="padding-top: 10px;">
  <!--
  Cancel Button, shows if this application is a child window and the parent
  window has a profileCloseWindow function defined.
  -->
  <input id="cancel_button" type="button" style="display: none; float: left; margin-right: 20px" onclick="window.parent.profileCloseWindow();" value="Cancel">
  <script>
  if (window.parent && window.parent.profileCloseWindow)
  $('cancel_button').style.display = 'block';
  </script>
  <%= submit_tag(new_profile_submit_button_text, :id => 'new-profile-submit-button') %>
</div>
<% end %>