<%= stylesheet_link_tag  'application' %>
<div class="w3-margin-bottom" id="content-window">
  <%= form_for :profile, :html => {:class => 'styled_form profiles_form'} do |f| %>
  <input type="hidden" name="site_id" value="<%= @site_id %>"/>
  <h2 class="w3-text-theme-primary" id="page-header"><%= profile_page_header %></h2>
  <hr id="page-hr">
  <%= render :partial => 'profile', :object => @profile, :locals => {:form => f} %>
  <div class="description-and-input-block">
    <div class="w3-col m12 w3-container">
      <div class="button_container" id="save_button_container">
        <%= profile_submit_button(profile_submit_button_text, profile_path) %>
      </div>
    </div>
  </div>
  <% end %>
</div>