<div id="address_loading" class="address_loading" style="display: none;">
    <%= image_tag('loading.gif') %><br/>
    Loading results, please wait.
</div>

<div id="address_results" class="address_results" style="display:none;">
    <div id="address_results_container"><label>Address</label><%= pud.to_s %></div>

    <div class="try_again_button_container">
      <span class="try_again_link" id="try_again">
        Try a different search
      </span>
    </div>
</div>

<div id="address_fields" class="address_fields">
    <span id="address_error" class="address_error" style="display: none;"></span>

    <% if display_search_address? -%>
        <div class="full" >
          <label><%= address_label %></label>
          <%= text_field_tag("address", nil, :size => 50, :class => 'text') %>
        </div>
    <% end -%>

    <% if display_search_city? -%>
        <div class="left">
          <label><%= city_label %></label>
          <%= text_field_tag("city", nil, :size => 15, :class => 'text') %>
        </div>
    <% end -%>

    <% if display_search_state? -%>
        <div class="left">
          <label><%= state_label %></label>
          <%= text_field_tag("state", nil, :size => 2, :class => 'text') %>
        </div>
    <% end -%>

    <% if display_search_zip? -%>
        <div class="left">
          <label><%= zipcode_label %></label>
          <%= text_field_tag("zip", nil, :size => 7, :class => 'text') %>
        </div>
    <% end -%>

    <div class="left address_search_button_container">
        <input type="button" class="loc_search_button"
               id="loc_search" name="loc_search"
               value="Search">
    </div>
</div>

<input type="hidden" name="pud[PostKey]" value="<%= pud.PostKey %>"
        id="post_key" class="post_key">