<div class="full" >
  <label>Choose an address</label>
  <%= select_tag("address_results",
                 available_addresses(addresses),
                 :class => 'address_results_list',
                 :id => "address_results_select",
                 :onchange => "addressResultSelected();") %>
</div>