<div class="content_box">
  <div class="content">

    <div class="left field_container">
      <label>Type</label>
      <%= select_tag('pud[Type]', options_for_select(pud.profile.pud_location_types, pud.Type)) %>
    </div>

    <div class="left field_container" id="business_name_container" style="clear: left;">
      <label>Business Name</label>
      <%= text_field_tag('pud[Details]', pud.Details, :size => 35, :class => 'text') %>
    </div>

    <%= pud_field pud, :address, :size => 35 %>
    <%= pud_field pud, :city, :size => 15 %>
    <%= pud_field pud, :state, :size => 3 %>
    <%= pud_field pud, :zipcode, :size => 10 %>

    <div class="left field_container">
      <label><%= telephone_label %></label>
      <%= text_field_tag('pud[Telephone]', pud.Telephone, :size => 15, :class => 'text') %>
    </div>

    <div class="full field_container">
      <label><%= cross_street_label %></label>
      <%= text_area_tag('pud[Directions]', pud.Directions, :size => '30x6', :id => 'pud_directions',
												:class => 'text-area', :style => 'margin-left:0') %>
    </div>
  </div>
</div>

<script>
  <%= disable_initial_fields(pud).try(:html_safe) %>
  setBusinessNameVisibility();
</script>