<% pud.valid_locations(true).each do |type| -%>
    <div class="left location_list_container">
      <label><%= type[:label].html_safe %></label>
      <select id="loc_<%= type[:type] %>" name="FareCode" class="location_list">
        <option value=""></option>
        <% type[:locations].each do |loc| -%>
            <option value="<%= loc.Code %>"
                    <%= "selected='selected'" if loc.Code == pud.FareCode %>>
                <%= loc.Name %>
            </option>
        <% end -%>
      </select>
    </div>
<% end -%>

<input type="hidden" name="pud[FareCode]" value="<%= pud.FareCode %>"
        id="pickup_key" class="pickup_key">