<div class="left pud_locs_tab_container">
  <div id="location_search_tabs" class="yui-navset tabs" >
    <ul class="yui-nav">
      <li class="selected"><a href="#landmarks"><em><%= landmarks_tab_label %></em></a></li>
      <li id="address_lookup_tab_label">
        <a href="#address"><em><%= address_tab_label %></em></a>
      </li>
      <% if false -%>
          <li><a href="#selected"><em>Selected</em></a></li>
      <% end -%>
    </ul>

    <div class="yui-content location_lookup">
      <div><%= render :partial => 'landmarks', :locals => {:pud => pud} %></div>
      <div id="address_lookup_tab_contents">
        <%= render :partial => 'address', :locals => {:pud => pud} %>
      </div>
      <% if false -%>
          <div><%= render :partial => 'selected', :locals => {:pud=> pud} %></div>
      <% end -%>
    </div>
  </div>
</div>

<div class="left fields_container" id="fields_container">
  <%= render :partial => 'fields', :locals => {:pud => pud} %>
</div>

<script>
  YAHOO.hudson.profiles.display_address_lookup_tab = <%= display_address_lookup_tab?(airport) %>;
</script>

<div class="button_container" id="button_bar">
  <%= submit_tag('Save Changes', :id => 'save') %>
</div>
