<%= content_tag :div, id: 'pud_internal_container',
        data: { 'lookup-enabled' => display_address_lookup_tab?(pud.Airport) } do %>
  <input type="hidden" name="pud[ID]" value="<%= pud.ID %>">
  <label>Airport</label>
  <select name="pud[Airport]" id="airport">
    <%= options_from_collection_for_select(pud.valid_airports, 'code', 'name', pud.Airport) %>
  </select>

  <div id="pud_locations_container">
    <%= render :partial => 'pud_location', :locals => {:pud => pud, :airport => pud.Airport} %>
  </div>
<% end %>