<% unless pud.Address.blank? -%><%= pud.Address %><br><% end -%>
<% unless pud.City.blank? -%><%= pud.City %>, <% end -%>
<%= pud.State %> <%= pud.Zipcode %>

<%= hidden_field_tag("pud[Address]", pud.Address) %>
<%= hidden_field_tag("pud[City]", pud.City) %>
<%= hidden_field_tag("pud[State]", pud.State) %>
<%= hidden_field_tag("pud[Zipcode]", pud.Zipcode) %>
<input type="hidden" name="pud[address_preset]" value="1"
        id="address_preset" class="address_preset">
