<% content_for(:head) do -%>
  <%= javascript_include_tag 'locations' %>
  <%= stylesheet_link_tag 'profile/locations' %>

  <style>
    html, .yui-skin-sam .yui-navset .yui-content {
        color: <%= profile_site_text_color%>;
        background: none repeat scroll 0 0 <%= profile_site_background_color %> !important;
    }

    div.button_container, div.button_container a {
      background-color: <%= profile_primary_background_color %>;
      color: <%= profile_primary_text_color %>;
    }

    .button_container {
      border-color: <%= profile_primary_background_color %>;
    }

    .content_box h1.boxed {
      color: <%= profile_primary_text_color %>;
      background-color: <%= profile_primary_background_color %>;
    }

    .content_box h2 {
      background-color: <%= profile_secondary_background_color %> !important;
      color: <%= profile_secondary_text_color %> !important;
    }

    .content_box h1.boxed {
        background-color: <%= profile_secondary_background_color %> !important;
        color: <%= profile_secondary_text_color %> !important;
        border-color: <%= profile_secondary_background_color %>;
        border-color:black;
    }

    .yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav,
    .yui-skin-sam .yui-navset .yui-content, .yui-skin-sam .yui-navset .yui-navset-top .yui-content{
        border-color: <%= profile_secondary_background_color %>;
        border-color: black;
    }

    .fields_container {
        background-color: <%= profile_subsection_background_color %> !important;
        color: <%= profile_subsection_text_color %> !important;
    }

    label {
        color: <%= profile_subsection_text_color %> !important;
    }
  </style>
<% end -%>

<div class="tab profile_tab" id="tab_locations">
  <%= locations_header %>

  <% if @puds_errors -%><p class="error_box"><%= @puds_errors.join('<br/>').html_safe %></p><% end -%>
  <% if @puds_notice -%><p class="notice_box"><%= @puds_notice %></p><% end -%>

  <%= form_tag({:action => 'save_pud'}, :id => 'pud_form') do %>
    <% unless @profile.puds.find_all{|p| p.individual?}.empty? -%>
      <label><%= pud_label %></label>
      <select name="pud_id" id="pud">
        <% @profile.puds.find_all{|p| p.individual?}.each do |pud| -%>
          <option value="<%= pud.ID %>" <%= "selected='selected'" if pud.ID.to_i == @selected_pud.to_i %>>
            <%= pud_name(pud) %>
          </option>
        <% end -%>
      </select>
    <% end -%>
    <span id="add_pud"><%= add_location_link_caption %></span>

    <div id="pud_container">
      <% unless @selected_pud.nil? -%>
        <%= render :partial => 'pud', :object => @profile.puds.find{|pud| pud.ID.to_i == @selected_pud.to_i} %>
      <% end -%>
    </div>
  <% end %>

  <div id="loading_indicator" style="display: none;"><%= image_tag('loading.gif') %><br>Loading&hellip;</div>
</div>
