<div class="info-box-container">
  <p>
    <%= token('PROFILE_EDIT_HEADER') %>
  </p>
  <% if @errors -%>
  <p class="error_box" style="margin-bottom: 8px;">
    <%= @errors.join('<br/>').html_safe %>
  </p>
  <% end -%>
  <% if @notice -%>
  <p class="notice_box" style="margin-bottom: 8px">
    <%= @notice %>
  </p>
  <% end -%>
</div>