<style>
  html, body {
    background-color: <%= profile_site_background_color %>;
    color: <%= profile_site_text_color %>;
  }

  .w3-theme {
    color: <%=primary_text_color%> !important;
    background-color: <%=primary_background_color%> !important;
  }

  .w3-theme-inverse {
    color: <%=primary_background_color%> !important;
    background-color: <%=primary_text_color%> !important;
  }

  .w3-text-theme-border {
    border-color: <%=profile_subsection_text_color%> !important;
  }
  .w3-text-theme-primary {
    color: <%=primary_background_color%> !important;
  }
  .w3-text-theme {
    color: <%= profile_subsection_text_color %> !important;
  }
  .nav-link:hover {
    border-color: <%=primary_text_color%> !important;
  }
  .submit-button, #login_button, #new-profile-submit-button, #forgot_pw_button {
    background-color: <%= profile_site_background_color %> !important;
    color: <%=primary_background_color%> !important;
  }
  .submit-button:hover, #login_button:hover, #new-profile-submit-button:hover, #forgot_pw_button:hover {
    background-color: <%=primary_background_color%> !important;
    color: <%= profile_site_background_color %> !important;
  }
  #please_wait_span {
    color: <%=primary_background_color%> !important;
  }

  /* Zebra striping */
  #transactions tr:nth-of-type(even) {
    background-color: <%= alt_row_color %> !important;
  }
</style>