<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application'  %>
    <%= stylesheet_link_tag 'application' %>
    <%= render "layouts/theme_styles" %>
    <%= yield :head %>
  </head>
  <%= content_tag :body,
  data: {
      controller: controller_name,
      action: action_name,
      site: current_site_id,
      env: Rails.env,
      urls: {
      'location-info' => location_info_path,
      'pud' => pud_path,
      'address-lookup' => address_lookup_path,
      'address-from-lookup' => address_from_lookup_path,
      'profiles-url' => profile_path
      }
  } do %>
  <!-- Content -->
  <div class="w3-container w3-theme" id="nav-container">
    <ul id="profile-nav">
      <%= tab(tab_label(:message), url_for(:controller => 'profile', :action => 'message'), tab_icon(:message), params[:action] == 'message') if !new_profile? %>
      <%= tab(tab_label(:reservations), reservations_path, tab_icon(:reservations), ['reservations'].include?(params[:controller])) if reservations_enabled? %>
      <%= tab(tab_label(:profile), url_for(:controller => 'profile', :action => 'profile'), tab_icon(:profile), ['profile'].include?(params[:action]))%>
      <%= tab(tab_label(:locations), locations_url, tab_icon(:locations), params[:controller] == 'locations') if locations_enabled? %>
      <%= tab(tab_label(:points), points_url, tab_icon(:points), params[:controller] == 'points') if points_enabled?%>
      <%= tab(tab_label(:points), points_clone_url, tab_icon(:points), params[:controller] == 'points') if points_enabled?%>
      <%= tab(tab_label(:contacts), contacts_url, tab_icon(:contacts), params[:controller] == 'contacts') if contacts_enabled? %>
    </ul>
  </div>
  <%= render "layouts/error_box" %>
  <%= yield :layout %>
  <script>
  if (window.parent && window.parent.profile_window_loaded) {
  window.parent.profile_window_loaded();
  }
  </script>
  <% end %>
</html>