<!DOCTYPE html>
<!--[if IE 8 ]> <html class="lt-ie10 ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= site_stylesheet %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>

    <!--[if lt IE 9]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <%= javascript_include_tag 'respond/respond' %>
    <![endif]-->

    <style>
      <%= current_theme_css %>
      <%= themed_button %>
      <%= darker_primary_css %>
    </style>

    <%= render partial: 'shared/analytics' unless controller_name == 'profile' %>
    <%= yield :head %>
  </head>

  <%= content_tag :body,
          class: "hudson-app #{site_body_class}",
          data: {
            controller: controller_name,
            action: action_name,
            site: current_site_id,
            env: Rails.env,
            compat_message: ie_compatible_view_msg,
            height_padding: @height_padding,
            urls: {
              apply_coupon: apply_coupon_path,
              attraction_info: attraction_update_info_path,
              block_check: block_check_path,
              cruise_locations: cruise_arriving_locations_path,
              cruise_arr_hotel_dests: cruise_arr_hotel_dests_path,
              cruise_arr_hotel_hotels: cruise_arr_hotel_hotels_path,
              cruise_booking_container: cruise_booking_container_path,
              cruise_dep_hotel_dests: cruise_dep_hotel_dests_path,
              cruise_departing_locations: cruise_dep_locations_path,
              flight_cities: flight_cities_path,
              locations: locations_path,
              login_modal: login_modal_path,
              login_window: login_window_path,
              reload_profile: reload_profile_path,
              remove_coupon: remove_coupon_path,
              svc_extras: svc_extras_path,
              svc_update: services_update_path
            }
          } do %>
    <%= yield %>
  <% end %>
</html>
