<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= javascript_include_tag 'application'  %>
    <%= stylesheet_link_tag 'application' %>
    <style>
    html, body {
    background-color: <%= profile_site_background_color %>;
    color: <%= profile_site_text_color %>;
    }
    <%= render "layouts/theme_styles" %>
    <%= yield :head %>
    </style>
  </head>
  <body>
    <!-- Content -->
    <div class="w3-margin-bottom" id="content-window">
      <%= yield :layout %>
    </div>
    <script>
    if (window.parent && window.parent.profile_window_loaded) {
    window.parent.profile_window_loaded();
    }
    </script>
  </body>
</html>